{% extends "base.htm" %}

{% block title %}Welcome to the Online Market{% endblock %}
{% block heading %}Welcome to the Online Market{% endblock %}

{% block head %}
{% if close_embedded %}
<script src="http://www.paypalobjects.com/js/external/dg.js" type="text/javascript"></script>
{% endif %}
{% endblock %}

{% block content %}
<p>{{ items|length }} item{{ items|length|pluralize }} for sale.</p>
<p>
<ul>
{% for item in items %}
  <li>{{ item.title }} for ${{ item.price_dollars|floatformat:2 }}<br/>
    <img src="/image/{{ item.key }}/" alt="{{ item.title }}"/><br/>
    <a href="/buy/{{ item.key }}/">Buy this item</a>
  </li>
{% endfor %}
</ul>
</p>
<p>
<a href="/sell">Sell an item</a>
</p>
{% if close_embedded %}
<script type="text/javascript">
  dgFlow = top.dgFlow || top.opener.top.dgFlow; 
  dgFlow.closeFlow(); 
  top.close(); 
</script>
{% endif %}
{% endblock %}
